h1, #searchBox{
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

button {
    margin-left: 1rem;
}

#displayResults{
    border: 1px solid black;
    margin-top: 2rem;
}

#displayResults p{
    margin-left: 1rem;
    margin-right: 1rem;
}